# Transform Dataframe
Raw data from ENOE has to be transformed to be used. We use select variables to create our own indicators.
The files from ENOE are coded in this WAY:
* COE1 means it's the first survey.
* t1 means its from 1st quarter
* 10 means it's from the year 2010

therefore coe1t110.csv means that the data is from the first survey, first quarter and 2010.

In [2]:
# import modules
import pandas as pd

In [22]:
# Get list of columns to use
columns = pd.read_csv("../data/auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [23]:
# Get data from one file
df = pd.read_csv("../data/ENOE/coe1t110.csv", usecols=columns)
df.head()

,r_def,cd_a,ent,con,upm,h_mud,eda,p1a1,p1a2,p1a3,...,p3m6,p3m7,p3m8,p3m9,p3o,p3p1,p3q,p3r,p4a,p4b
0,0,1,9,501,15769,0,35,,,,...,,,,9,2,,11.0,3,5510.0,3
1,0,1,9,501,15769,0,33,,,3,...,,,,,,,NaN,,NaN,
2,0,1,9,501,15769,0,32,,,3,...,,,,,2,,11.0,3,2210.0,3
3,0,1,9,501,15769,0,29,,,3,...,,,,,2,,7.0,3,6112.0,2
4,0,1,9,501,15769,0,54,,,3,...,,,,,,,NaN,,NaN,